
notebook/crime.db

dataset/hosb1410-tabs.xls

dataset/police-workforce-sep21-tables-260122.ods

notebook/outcome.csv

notebook/stop.csv

notebook/street.csv

dataset/aggregate/least_popular_crime.csv

dataset/aggregate/most_popular_crime.csv
